body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    background-color: #fff;
    cursor: default;
}

footer {
    
    position: relative;
    text-align: center;
    height: 5%;
    bottom:2%;
    width: 90%;
    margin-top: 3%;
    font-size: 12px;
    font-weight: 300;
    margin-left: 4.5%;
    padding-bottom: 10px;
}



.index-footer {
    margin-left: 4.5%;
}

a--no-style, a:link, a:visited,a:active,a:hover {
    
    cursor: default;
    text-decoration: none;
    color: inherit;
  }


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-bottom: 1px solid #e9e9e9;
  
    font-weight: 600;
}


.navbar__navigation {
    display: flex;
    gap: 15px;
    margin-left: 7%;
}

.navbar__user {
    display: flex;
    flex-direction: row;
    width: 10%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin-top: 9%;
    margin-right: 15%;
  }

  .navbar__user > a {
    margin-top: 7%;
    margin-right: 10%;
  }


.navbar__navigation > p:first-child > a:hover, .navbar__navigation > p:nth-child(2) > a:hover,.navbar__navigation > p:nth-child(3) > a:hover, .navbar__navigation > p:nth-child(4) > a:hover, .navbar__navigation > p:last-child > a:hover    {
    border-bottom: 1px solid #000;
    
}

.products {
    display: flex;
    gap: 6%;
    flex-wrap: wrap;
    margin: 4% 90px;
}

.product {
    width: 20%;
    display: flex;
    margin-bottom: 5%;
    flex-direction: column;
    border: 1px solid #b6b6b6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    border-radius: 3%;
    position: relative;
}

.product__info {
    padding: 2px 16px;
    padding-bottom: 20%;
    margin-bottom: 15%;
}


.product__actions {
    display: flex;
    justify-content: space-between;
    padding-top: 15%;
    position: absolute;
    bottom: 2%;
    flex-direction: row;
    gap: 35%;
    
    justify-content: space-between;
    align-items: center;
    width: 90%;
}







.product > a > .product__img {
    margin-top: 5%;
    height: 300px;
    width: 90%;
    object-fit:cover;
    margin: 20px;
    border-radius: 3%;
    margin-left: 5%;
    margin-right: 5%;
   cursor: pointer;
    
}

.product > a > .product__img:hover {
    opacity: 0.7;
    object-fit:scale-down;
}


.product > a {
    align-items: center;
}

  .product:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
.product__buy {
  background-color: #fff;
  color: #000;
  border: 2px solid #545454;
  transition-duration: 0.4s;
  padding: 5px 10px 5px 10px;
  border-radius: 10%;
  cursor: pointer;
  text-align: center;
}

.product__buy:hover {
    background-color: #545454;
  color: white;
}

.index_photo {
    width: 100%;
    display: flex;
    margin-top: 4%;
    font-weight: 200;
    display: flex;
    
    justify-content: space-between;
    align-items: center;    
}

.strip-photo {
    display: flex;
    width: 50%;
}

.strip-photo > img {
    height: 500px;
    object-fit: cover;
    margin-left: 15%;
  
}

.black-strip {
    margin-top: 36%;
    margin-left: 25%;
    padding-left: 10px;
    height: 200px;
    background-color: #545454;
}

.index_text > h1 {
    font-weight: 200;
    width: 50%;
    text-align: center;
}

.index_text > h3 {
    font-weight: 200;
    
    width: 50%;
    text-align: center;
}
.index_text {
    width: 48%;
    flex-direction: column;
}

.index_text > p {
    font-weight: 200;
    text-align: right;
    width: 45%;
    font-size: 12px;
}

.content_detail {
    margin-top: 1%;
}

#product {
   gap: 0;
   width: 50%;
   flex-direction: row;
}


#product > img {
    height: 500px;
    object-fit: scale-down;
    margin: 5%;

}
.productEmpty {
    width: 18%;
    height: 600px;
}

#single_product {
    gap: 15%;
    width: 35%;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.login__form > input {
    height: 30px;
}

.login__form > label, .login__form > input {
    margin-bottom: 5%;
    width: 100%;
}

.login__form > input:last-child {
    margin-top: 5%;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
 
    font-size: 13px;
    background-color: #fff;
  color: #000;
  border: 2px solid #545454;
  transition-duration: 0.4s;
  padding-top: 10px;
  padding-bottom: 25px;
  border-radius: 10%;
  cursor: pointer;
}

.login__form > input:last-child:hover {
    background-color: #545454;
    color: white;
}

#logout {
    cursor: pointer;
    
}
.hiding {
    display: none;
}




@media  (max-width: 500px) {

    .login__form {
        width: 80%;
    }

    .login__form > input:last-child {
        width: 50%;
        font-size: 11px;
    }

    .products {
        flex-direction: column;
        
    }
    
    .index_photo {
        flex-direction: column;
    }

    .black-strip {
        display: none;
    }

    .strip-photo > img {
        height: 300px;
        object-fit: cover;
        margin-left: 0%;
      
    }
    .index_text > h1 {
        font-weight: 200;
        width: 90%;
        text-align: center;
    }
    
    .index_text > h3 {
        font-weight: 200;
        
        width: 90%;
        text-align: center;
    }
    .index_text {
        width: 90%;
        flex-direction: column;
    }

    .product {
       
        width: 90%;
        margin-top: 10%;
    }

    #product {
        margin-top: 1%;
        width: 90%;
        flex-direction: column;
    }
    .productEmpty {
        display: none;
    }

    #single_product {
        gap: 50%;
        width: 80%;
    }


    
    
} 

@media (min-width: 500px) and (max-width: 800px) {
    .login__form {
        width: 50%;
    }
    .login__form > input:last-child {
        width: 50%;
    }

    .products {
        gap: 3%;
        
    }

    .index_photo {
        flex-direction: column;
    }

    .product {
        width: 47%;
        margin-top: 10%;
    }

    footer {
        position:relative;
    }
    #product {
        margin-top: 1%;
        width: 90%;
        flex-direction: column;
    }
    .productEmpty {
        display: none;
    }

    #single_product {
        gap: 50%;
        width: 80%;
    }

    .index_photo {
        flex-direction: column;
    }

    .black-strip {
        display: none;
    }

    .strip-photo > img {
        height: 400px;
        object-fit: cover;
        margin-left: 0%;
      
    }
    .index_text > h1 {
        font-weight: 200;
        width: 90%;
        text-align: center;
    }
    
    .index_text > h3 {
        font-weight: 200;
        
        width: 90%;
        text-align: center;
    }
    .index_text {
        width: 90%;
        flex-direction: column;
    }
} 

@media screen and (min-width: 801px) and (max-width: 1024px) {

    .login__form {
        width: 40%;
    }
    .login__form > input:last-child {
        width: 50%;
    }

    .product {
        width: 40%;
        margin-top: 5%;
    }

    .products {
        gap: 5%;
    }
    footer {
        position:relative;
    }
    #product {
        margin-top: 1%;
        width: 90%;
    }
    .productEmpty {
        display: none;
    }

    #single_product {
        gap: 10%;
        width: 20%;
    }


    .index_photo {
        flex-direction: column;
    }

    .black-strip {
        display: none;
    }

    .strip-photo > img {
        height: 500px;
        object-fit: cover;
        margin-left: 0%;
      
    }

    .index_text {
        width: 90%;
        flex-direction: column;
    }
    .index_text > h1 {
        font-weight: 200;
        width: 90%;
        text-align: center;
    }
    .index_text > h3 {
        font-weight: 200;
        
        width: 90%;
        text-align: center;
    }
    
}
    



@media screen and (min-width: 1025px) and (max-width: 1299px) {

    .login__form {
        width: 30%;
    }

    .login__form > input:last-child {
        width: 40%;
    }
    .index_photo {
        flex-direction: column;
      }

    .black-strip {
        display: none;
    }
    .strip-photo > img {
        height: 500px;
        
        margin-left: auto;
        text-align: center;
    }

    .index_text > h1 {
       
        width: 100%;
        
        text-align: center;
    }
    
    .index_text > h3 {
       
        margin-left: 0;
        width: 100%;
        text-align: center;
       
    }

    .index_photo > p {
        width: 100%;
        text-align: center;
      
    }

    .index_text {
        width: 100%;
        
    }

    #product {
        margin-top: 1%;
        width: 90%;

    }
    .productEmpty {
        display: none;
    }

    #single_product {
        gap: 15%;
        width: 35%;
    }

    .index_photo {
        flex-direction: column;
    }

    .black-strip {
        display: none;
    }

    .strip-photo > img {
        height: 600px;
        object-fit: cover;
        margin-left: 5%;
      
    }

    .index_text {
        width: 90%;
        flex-direction: column;
    }
    .index_text > h1 {
        font-weight: 200;
        width: 90%;
        text-align: center;
    }
    .index_text > h3 {
        font-weight: 200;
        
        width: 90%;
        text-align: center;
    }
    

}
   
@media screen and (min-width: 1300px) and (max-width: 1450px) { 
    .login__form {
        width: 30%;
    }
    .login__form > input:last-child {
        width: 50%;
    }
    #single_product {
        gap: 5%;
    width: 25%;
    }

}